<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="container">
		<div class="navbar-text pull-left">
			<i class="fa fa-copyright"></i> 2016 Victor Zerefos 
		</div>
		<div class="navbar-text pull-right">
			<small>
				<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
				<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
			</small>
		</div>
	</div>
</div>

